*{
    box-sizing: border-box;
    top: 457px;
    left: 3309px;
    padding: 0px, 0px, 0px, 0px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    
}
.cabecalho{
    display: flex;
    flex-flow: column;
}
.cabecalho img{
    width: 176px;

}
.barraDeBusca{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 70px;
}
.direita{
    display: flex;
    margin-left: 70px;
}
.banner{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 100%;
    height: 352px;
    background-image: url("/assets/img/banner-image.png");
    color: #ffffff;
}
.bannerTexto{
    width:1,136px;
    height:230px;

}
.btnlogin {
    display:flex;
    align-items: center;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid rgba(42, 122, 228, 1);
    color: rgba(42, 122, 228, 1);
    justify-content: center;
    width: 180px;
}
h1{
    font-family: Raleway;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 52px;
}
p{
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
   

}
